.container {
  text-align:center;
}

.jumbotron {
}
.jumbotron.custom-container{
  box-sizing: border-box;
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  margin-bottom:0px;
}

.title {
  background-color:beige;
  margin: 5px;
  text-align:center;
  border-style: solid;
  border-color:black;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-width: 2px;
  border-radius:15px;
}
.main {
  
  background-color: aliceblue;
  margin: 20px;
  text-align:left;
  border-style: solid;
  border-color:black;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-width: 2px;
  border-radius:15px;
  padding: 0px 0px 10x 10px;
  font-family: Consolas;
  padding-left: 10px;
  
  
}
h1 {
  font-family:Consolas;
  color: white;
  font-size: 40px;
  padding: 0px 0px 0px 10px;
}
h2 {
    font-family:Consolas;
  color: white;
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}