

body{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

/* Footer section */

footer {
    position: relative;
    background-image: url("../images/digital.jpg") ;  
    background-size: cover;
    bottom:0;
    height: 25vh;
    color:white;
    width: 100%;

}

span {
    background-color:black;
    color:#286892;
border-top:1px solid #286892;
    padding:10px;
    letter-spacing:0.05cm;
    position:absolute;
    width: 100%;
    margin:0 auto;
    text-align: center;
    bottom:0;
}
#copyright {



bottom:0;
    margin:0 auto;
    font-size:20px;
    font-weight: bolder;

}

/* Portfolio section */

#portfolio {
    background-image: url("../images/background-4.jpg") ;  
    background-size: cover;
    border-bottom:3px solid black;
}


/* Skills section */

#skills {
    background-image: url("../images/background-3.jpg") ;  
    background-size: cover;
    border-bottom:3px solid black;
}

/* About section */
main {
    padding-top:50px;
    text-align:center;
    width:100%;
}

#about {
    background-image: url("../images/spotlight/spotlight-2.png") ;  
    background-size: cover;
    color:white;
    border-bottom:3px solid black;
    
}

.about-text {
    line-height: 1.25;
}
.wrapper {
    max-width: 680px;
    margin:0 auto;
    height: 100vh;
    line-height: 100%;
    position:relative;
    top:25%;
    vertical-align: middle;

}

.div-image {
    margin-top:50px;
    margin-bottom:50px;
}

.img-self-style{
    
    height: 150px;
}

h1 {
    color:white;
    font-family: 'Pacifico', cursive;
    font-size:40px;
    letter-spacing:0.05cm;
    
}


/* Navs */
#mainNav {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:15px;
    padding-top:5px;
    padding-bottom:5px;
}

#centerNav{
    position:absolute;
    left:20%;
    vertical-align: middle;

}
#centerNav li a{
    vertical-align: middle;
    line-height: 52px;
    margin-right:5px;
    padding-top:0px;
    padding-bottom: 0px;
    color:white;
    letter-spacing:0.10cm;
    border: 2px solid #286892;
    border-radius:5px;

}

#centerNav li a:hover {
    background-color:#286892;;
    color:black;

}

#rightNav {
    float:right;
    margin-right:30px;
}

section {
    height:100vh;

}


/* Social Icons */
.fa {
    color:#286892;
}

.fa:hover {
    color:white;
}